.auth {
    width: 100%;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth__form {
    width: 300px;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
    gap: 15px;
}

.auth__form__field,
.auth__form__field input{
    width: 100%;
}